@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* MODO CLARO */
    --fundo-principal: #FFFFFF;
    --fundo-article: #101820;      /* Um preto "petróleo" muito elegante */
    --texto-header: #F9F9F9;
    --destaque: #00D1B2;           /* Verde Esmeralda vibrante (o "neon" da tecnologia) */
    --destaque-hover: #00A38B;
    --fundo-card: #3566a7c7;
}

body{
    background-color: var(--fundo-principal);
    color: var(--texto);
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;

}
#menu > ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--texto-suave);
    font-weight: 700;
    padding: 12px 15px;
    transition-duration: 0.5s;
}

header > nav > ul > li > a:hover{
    border-radius: 5px;
    background-color: var(--destaque-hover);
}

main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    margin-top: 20px;
}

main > section#ficha{
    grid-column-start: 2;
    gap: 20px;
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 7px;
}

main > section#ficha > img.foto{
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--fundo-card);
    outline:2px solid var(--destaque-hover);
}

main > section#ficha > h1{
    color: rgb(253, 252, 252);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.788);
    text-align: left;
    font-size: 1.5em;
    margin: 15px 0px;
    padding: 5px;
}

main > section#ficha >p{
    line-height: 1.6;
    padding: 5px;
    color: var(--texto);
    font-weight: 600;
}

div#social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin:5px;
    gap: 10px;
    font-size: 1.5em;
}

div#social > a{
    color: var(--fundo-header);
    transition: color 0.5s;
}

div#social > a:hover{
    background-color:var(--fundo-card);
    font-size: 0.8em;
    transition-duration: 0.5s;
}

section#detalhes{
    grid-column-start: 2;
    margin-top: 10px;

}

article{
    background-color: var(--fundo-article);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

article#video > h2{
    font-family: "Port Lligat Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 2px var(--fundo-article);
    padding: 10px;
    color: var(--texto-header);
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 7px;
}

div#container{
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
    border-radius: 7px;
}

div#container > video{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 2px white;
    object-fit: cover;
}

article#habilidades{
    background-color: var(--destaque-hover);
}

article#habilidades > h2{
    padding-bottom: 15px;
    font-family: unset;
    font-size: 1.3em; 
}

article#formacao{
    background-color: var(--destaque-hover);

}

article#formacao > h2{
   font-family: unset;
   font-size: 1.3em;
}

article#projectos{
    background-color: var(--destaque-hover);
}

article#projectos > h2{
    padding-bottom: 15px;
    font-family: unset;
    font-size: 1.3em;
}

#habilidades-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#habilidades-container > div.item > div.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#habilidades-container > div.item > div.info > .nome{
    font-weight: bold;
    color: var(--fundo-principal);
}

#habilidades-container > div.item > div.info > .percentagem{
    font-weight: bold;
}


#habilidades-container > div.item > div.barra{
    width: 100%;
    height: 8px;
    background-color: var(--destaque);
    border-radius: 5px;
}

#habilidades-container > div.item > div.barra > .progresso{
    width: 90%;
    height: 100%;
    background-color: var(--fundo-article);
    border-radius: 5px;
}

#habilidades-container > div.item > div.info > span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
}

#formacao > h2{
    padding-bottom: 15px;
    font-family: unset;
    font-size: 1.3em; 
}

#formacao-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formacao-container > .curso{
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--fundo-article);
    padding: 8px;
    transition: border-width 0.5s;
}

#formacao-container > .curso:hover{
    border-left-width: 15px;
    cursor: pointer;
}

#formacao-container > .curso > h3 > a{
    text-decoration: none;
    color: var(--fundo-article);
}

#formacao-container > .curso > h3 > a:hover{
    text-decoration: underline;
}

#formacao-container > .curso > p{
    font-weight: 700;
    color: var(--fundo-card);
}

#projectos-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#projectos-container > .projecto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--fundo-card);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--fundo-article);
    transition: border 0.5s;
}

#projectos-container > .projecto:hover{
    border-left-width: 30px;
    cursor: pointer;
}

#projectos-container > .projecto > a > .foto{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 20px;
}

#projectos-container > .projecto > .projecto-info > h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
    padding: 5px;
    color: var(--texto-header);
    text-shadow: 0px 0px 3px var(--destaque-hover);
}

#projectos-container > .projecto > .projecto-info > p{
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

#projectos-container > .projecto > .projecto-info > details > summary > a{
   color: var(--destaque-hover);
   font-weight: bold;
}

#projectos-container > .projecto > .projecto-info > details > summary > a:hover{
    background-color: var(--fundo-article);
}

#projectos-container > .projecto > .projecto-info > details{
    color: var(--fundo-principal);
}

footer{
    background-color: var(--fundo-article);
    color: var(--texto-header);
    text-align: center;
    padding: 15px;
    font-size: 1.19em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




@media screen and (min-width:768px){
    #habilidades-container{
        grid-template-columns: 1fr 1fr;
    }

    #formacao-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
   }

   #projectos-container > .projecto{
    flex-direction: row-reverse;
    justify-content: space-between;
   }

   #projectos-container > .projecto > a  > .foto{
    width: 300px;
    max-height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
   }

   #projectos-container > .projecto > .projecto-info{
     max-width: 80%;
   }

   #projectos-container > .projecto > .projecto-info > h3{
    font-size: 2em;
   }

   #projectos-container > .projecto > .projecto-info > p{
    font-size: 1.4em;
   }
}
